<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>TP3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>hey</display-name>
    <servlet-name>hey</servlet-name>
    <servlet-class>com.hey</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hey</servlet-name>
    <url-pattern>/hey</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MySQLDatabase</display-name>
    <servlet-name>MySQLDatabase</servlet-name>
    <servlet-class>BD.MySQLDatabase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MySQLDatabase</servlet-name>
    <url-pattern>/MySQLDatabase</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>lister</display-name>
    <servlet-name>lister</servlet-name>
    <servlet-class>Gestion.lister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lister</servlet-name>
    <url-pattern>/lister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Details</display-name>
    <servlet-name>Details</servlet-name>
    <servlet-class>Gestion.Details</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Details</servlet-name>
    <url-pattern>/Details</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjouterContact</display-name>
    <servlet-name>AjouterContact</servlet-name>
    <servlet-class>Gestion.AjouterContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterContact</servlet-name>
    <url-pattern>/AjouterContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Supprimer</display-name>
    <servlet-name>Supprimer</servlet-name>
    <servlet-class>Gestion.Supprimer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Supprimer</servlet-name>
    <url-pattern>/Supprimer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Modifier</display-name>
    <servlet-name>Modifier</servlet-name>
    <servlet-class>Gestion.Modifier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Modifier</servlet-name>
    <url-pattern>/Modifier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>Gestion.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
</web-app>